<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="sc-AxjAm hXKCxF ProductInner" id="mon-qua-phu-quy">
            <div class="sc-AxjAm cenvWR ProductText">
                <div
                    class="sc-AxjAm jHFZeK mbal-editor-reset-title mbal-home-product-item_title mbal-default-color-text"
                >
                    <p>
                        <span style="color: #666666"
                            ><strong>Món Quà Phú Quý</strong></span
                        >
                    </p>
                </div>
                <div
                    class="sc-AxjAm kNTILh mbal-editor-reset-title mbal-home-product-item_description mbal-default-color-text"
                >
                    <p>
                        <span style="color: #666666"
                            >Với sản phẩm Liên kết chung trọn đời đóng phí một
                            lần, Bạn có thể chủ động lên kế hoạch linh hoạt cho
                            tương lai cho cả gia đình ngay từ hôm nay và đảm bảo
                            sự thinh vượng mai sau, để tài sản của bạn được bào
                            toàn và phát triển bển vững.</span
                        >
                    </p>
                </div>
               
        </div>
    </body>
</html>
