:root {
    --gray-color: rgb(17 40 67 / 50%);
    --blue-color: #5bc5f2;
    --pink-color: #fb4390;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --shadow-color: rgb(0 0 0 / 8%);
    --line-color: #a7a9ad;
    --subtitle-color: rgb(17 40 67 / 50%);
    --ocean-color: #165baa;
    --light-pink-color: #fa87b3;
}
.font-size-large {
    font-size: 1.7rem;
    font-weight: 400;
}

.submit {
    text-align: center;
}
.modal-title {
    color: var(--ocean-color);
    font-size: 1.8rem;
    text-align: center;
}
.fa-plus-square {
    font-size: 28px;
    color: var(--blue-color);
}
.btn-pink {
    color: #fff;
    background-color: var(--light-pink-color) !important;
}
.btn-orange {
    color: rgb(205, 50, 50);
    background-color: var(--blue-color) !important;
}
table {
    width: 100% !important;
}

/* register form */
.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
/* .form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
} */
.form-control {
    border-radius: 1.5rem;
}
.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.register-form {
    width: 100%;
}
