:root {
    --gray-color: rgb(17 40 67 / 50%);
    --blue-color: #5bc5f2;
    --pink-color: #fb4390;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --shadow-color: rgb(0 0 0 / 8%);
    --line-color: #a7a9ad;
    --subtitle-color: rgb(17 40 67 / 50%);
    --ocean-color: #165baa;
    --light-pink-color: #fa87b3;
}
.content_dashboard {
    font-size: 1.3rem;
}

.submit {
    text-align: center;
}
.modal-title {
    color: var(--ocean-color);
    font-size: 1.8rem;
    text-align: center;
}
